<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Dyor Vet
    link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet' href='/css/style.css')
    link(rel='stylesheet', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.1.0/css/all.css', integrity='sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt', crossorigin='anonymous')


  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      .container.container-lg(style='padding: 5px;')
        if user
          .navbar-header
            a.navbar-brand(href='/proprietari/' style='margin-right: 45px;')
              img.d-inline-block.align-top(src='/images/logo.png', width='30', height='30', alt='Dyor Vet Logo', style='margin-right: 5px;') 
              | Dyor Vet
        else
          .navbar-header 
          h3.text-center(style='width: 100%;')
            img(src='/images/logo.png', width='50', height='50', alt='Dyor Vet Logo', style='margin-right: 5px;') 
            | Dyor Vet  
        if user   
          ul.nav.navbar-nav.navbar-right
            li.nav-item.mr-5
              -if (notifications != null && notifications.length > 0)
                .dropdown.nav-link
                  span.fa-stack.has-badge(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false' data-count=notifications.length style="cursor: pointer;")
                    i.fa.fa-bell.fa-stack-1x.honey-badger
                  .dropdown-menu.dropdown-menu-right.card-lg-light.card-header-dark(aria-labelledby='dropdownMenuButton' )
                    .row.dropdown-top-bar
                      .col-md-4(style="display: table; height: 62px;")
                        .nav-icon-container.nav-icon(data-toggle='tooltip', title='Toate Notificarile')
                          i.fas.fa-calendar-alt.text-center.fa-2x
                      .col-md-4
                        h5.text-center.font-weight-light.droptop Notificari
                      .col-md-4
                    hr(style="margin: 0px;")
                    .table.reminders-table(style="color: black;")
                      each reminder, i in notifications
                        -if(!moment(reminder.date).isBefore(moment()))
                          .item.inbox(reminder-id=reminder._id tratament-id=reminder.tratament_id animal-id=reminder.animal_id style="padding: 15px;")
                            span.text-small.reminder(style="margin-left: 5px;") 
                              | Tratamentul pentru 
                              span.font-weight-bold #{reminder.animal_name} 
                              | cu #{reminder.tratament_name} 
                              | trebuie efectuat 
                              -if(moment(reminder.date).isBetween(moment().add(3, 'days'), moment().add(4, 'days')))
                                span.text-success #{moment(reminder.date).fromNow()}
                              -if(moment(reminder.date).isBetween(moment().add(2, 'days'), moment().add(3, 'days')))
                                span.text-warning #{moment(reminder.date).fromNow()}
                              -if(moment(reminder.date).isBetween(moment().add(1, 'days'), moment().add(2, 'days')))
                                span.text-danger #{moment(reminder.date).fromNow()}
                              -if(moment(reminder.date).isBetween(moment(), moment().add(1, 'days')))
                                span.text-danger #{moment(reminder.date).fromNow()}
                            .delete-dropdown-item.delete-reminder-mini(reminder-id=reminder._id style='z-index: 5' data-toggle='tooltip', title='Elimina')
                              i.fas.fa-times.text-muted.delete-reminder-mini(reminder-id=reminder._id  style='margin-left: 34%; margin-top: 28%;')
                        -else 
                          .item.inbox-danger(reminder-id=reminder._id tratament-id=reminder.tratament_id animal-id=reminder.animal_id style="padding: 15px;")
                            span.text-small.reminder(style="margin-left: 5px;") 
                              | Tratamentul pentru 
                              span.font-weight-bold #{reminder.animal_name} 
                              | cu #{reminder.tratament_name} 
                              | trebuia efectuat 
                              span.font-weight-bold #{moment(reminder.date).fromNow()}
                            .delete-dropdown-item.delete-reminder-mini(reminder-id=reminder._id style='z-index: 5')
                              i.fas.fa-times.fa-inverse.delete-reminder-mini(reminder-id=reminder._id  style='margin-left: 34%; margin-top: 28%;')

              -else 
                .dropdown.nav-link
                  span.fa-stack(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                    i.fa.fa-circle.fa-stack-2x(style="background-color: white;")
                    i.fa.fa-bell.fa-stack-1x.fa-inverse(style="border: 0px solid transparent;")
                  .dropdown-menu.dropdown-menu-right.card-lg-light.card-header-dark(aria-labelledby='dropdownMenuButton')
                    .row.dropdown-top-bar
                      .col-md-4(style="display: table; height: 62px;")
                        .nav-icon-container.nav-icon
                          i.fas.fa-calendar-alt.text-center.fa-2x
                      .col-md-4
                        h5.text-center.font-weight-light.droptop Reminders
                      .col-md-4
                    hr(style="margin: 0px;")
                    -if(moment().hour() < 12)
                      p.text-center.text-muted(style="font-size: 13px; margin-top: 20px; font-weight: 100;") Buna Dimineata. Nu aveti notificari noi.
                    -if(moment().hour() >= 12 && moment().hour() < 17)
                      p.text-center.text-muted(style="font-size: 13px; margin-top: 20px; font-weight: 100;") Buna Dupamasa. Nu aveti notificari noi.
                    -if(moment().hour() >= 17 && moment().hour() <= 24)
                      p.text-center.text-muted(style="font-size: 13px; margin-top: 20px; font-weight: 100;") Buna Seara. Nu aveti notificari noi.
                    -if(moment().hour() >= 0 && moment().hour() <= 5)
                      p.text-center.text-muted(style="font-size: 13px; margin-top: 20px; font-weight: 100;") Nu aveti notificari noi.
            li.nav-item
              a.nav-link.primary-link(href='/users/logout') Logout
                span.fa-stack
                  i.fas.fa-sign-out-alt.fa-stack-1x

    br

    .container(style='min-height:900px;')
      != messages('message', locals)
      br
      br
      if errors
        each error, i in errors
          div(class='alert alert-danger') #{error.msg}
      block content 
      br 
    
    //- footer
    //-   .container.container-lg
    //-     p Copyright 2018 
    //-       span.float-right Sas Creations&trade; 

  script(src='/bower_components/jquery/dist/jquery.js')
  script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
  script(src='https://unpkg.com/popper.js/dist/umd/popper.min.js')
  script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
  script(src='/bower_components/bootstrap-checkbox/dist/js/bootstrap-checkbox.min.js')
  script(src="/js/animal.js")
  script(src="/js/proprietar.js")
  script(src="/js/date.js")
  script(src="/js/search_t.js")
  script(src="/js/dot.js")
  script(src="/js/reminder.js")
  
  
  