extends ../layout
include ../components/number_form.pug

block content 
  .card-lg-light
    .card-header-primary 
      h3.text-center.proprietar_name
        i.fab.fa-earlybirds(style='margin-right: 15px;')
        | #{animal.registration_nr}

    .padding-sm
      h4 Detalii
        button.btn.btn-dark.float-right(type='button', data-toggle='modal', data-target='#animalModal' style='font-size:13px; width: 130px; height: 40px;') Modifica 
          i.far.fa-edit(style='margin-left: 5px;')
      hr
      br
      .row
        .col-md-2
          p.font-weight-bold.p-2.m-0 Proprietar: 
        .col-md-3.offset-md-1
          a.form-control.p-2.m-0.pl-2.text-center.proprietar_name.btn-light(style="border: 1px solid #ddd" href='/proprietari/'+proprietar._id)=proprietar.name
      br
      .row
        .col-md-2
          p.font-weight-bold.p-2.m-0 Specia: 
        .col-md-3.offset-md-1
          input#phone_num_from_db.form-control.p-2.m-0.pl-2.text-center(value=animal.species disabled)
      br
      .row
        .col-md-2
          p.font-weight-bold.p-2.m-0 Simptomatologia: 
        .col-md-3.offset-md-1
          input#phone_num_from_db.form-control.p-2.m-0.pl-2.text-center(value=animal.simptomatologie disabled)
      br
      .row
        .col-md-2
          p.font-weight-bold.p-2.m-0 Diagnosticul: 
        .col-md-3.offset-md-1
          input#phone_num_from_db.form-control.p-2.m-0.pl-2.text-center(value=animal.diagnostic disabled)

      br
      br
      br
      #dialog-confirm(title='Sunteti siguri?')
        p#dialog-message(style='display: none;')
          span.ui-icon.ui-icon-alert(style='float:left; margin:12px 12px 20px 0; z-index: 7;')
          | Ștergerea acestui animal este permanentă, și toate tratamentele asociate vor fii șterse în mod permanent. 

      #animalModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='animalModalLabel', aria-hidden= hidden, style='margin-top: 5%;')
        .modal-dialog(role='document')
          .modal-content(style='border-radius: 8px;')
            .modal-header.modal-header-primary
              h5#animalModalLabel.modal-title(style="margin: auto; margin-left: 0;")
                i.fab.fa-earlybirds(style='margin-left: 5px;')
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true' style='color: white;') ×
            .modal-body.animal-modal-body(style="font-size: 14px; display:"+ViewState+";")
              hr(style="margin-top: 0px;")
              .row 
                .col-md-10.offset-md-1
                  form#animal-form(method='POST', action='/animals/edit/'+animal._id)
                    .row
                      .col-md-7
                        #form-group 
                          label Nr. Matricol / Nume
                          input#animal_name_modal.form-control(name='registration_nr', type='text' required oninvalid="this.setCustomValidity('Acest camp este obligatoriu')" oninput="setCustomValidity('')" proprietar_id=proprietar_id value=animal.registration_nr)
                      .col-md-5
                        #form-group 
                          label Specia
                          select#animal_species_modal.form-control(name='species', type='text' required oninvalid="this.setCustomValidity('Acest camp este obligatoriu')" oninput="setCustomValidity('')") 
                            option(value=animal.species selected hidden)=animal.species
                            option(value='' disabled) OPȚIUNI
                            option(value='Canină') Canină
                            option(value='Felină') Felină
                            option(value='Bovină') Bovină
                            option(value='Cabalină') Cabalină
                            option(value='Suină') Suină
                            option(value='Ovină') Ovină
                            option(value='Pasare') Pasare
                    br
                    .row
                      .col-md-4
                        #form-group 
                          label Animale tratate
                          +input_num('quantity', animal.quantity)
                    br
                    hr
                    br
                    #form-group 
                      label(style="margin-right: 30px; font-size: 13px; color: #2D2F30; text-decoration: underline;") Clinic sănătos?
                      input#clinicSanatos.form-check-input(type='checkbox' style='margin: 0px;' data-group-cls="btn-group-sm")
                    br
                    .row
                      .col-md-6
                        #form-group 
                          label Simptomatologia
                          textarea#simptomatologie_modal.form-control(name='simptomatologie' value=animal.simptomatologie)=animal.simptomatologie
                      .col-md-6
                        label Diagnosticul
                        textarea#diagnosticul_modal.form-control(name='diagnostic' value=animal.diagnostic)=animal.diagnostic
                    br
                    .modal-footer
                      a.btn.btn-outline-danger.delete-animal(href='#' data-animal-id=animal._id data-proprietar-id=proprietar._id style="margin-right: auto;")
                        i.fas.fa-trash(data-animal-id=animal._id data-proprietar-id=proprietar._id)
                      button.btn.btn-secondary(type='button', data-dismiss='modal') Închide
                      button#save-animal.btn-cursor.btn.btn-primary(type='submit') Salveaza
                      
                    

      .row
        .col-md-3
          h3 Tratamente
        .col-md-6
          .input-form.form-search
            input.form-control.search-tratamente(type='text', placeholder='Gaseste tratamente ...')

      br

      button.btn.btn-warning.ml-3(type='button', data-toggle='modal', data-target='#tratamentModal' style='font-size:13px; width: 120px; height: 40px;') Adauga  
        i.fas.fa-syringe(style='margin-left: 5px;')

      #tratamentModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='tratamentModalLabel', aria-hidden= hidden, style='margin-top: 5%;')
        .modal-dialog(role='document')
          .modal-content(style='border-radius: 8px;')
            .modal-header.modal-header-warning(style="color: black;")
              h5#tratamentModalLabel.modal-title(style="margin: auto; margin-left: 33%;") Tratament Nou
                i.fas.fa-syringe(style='margin-left: 5px;')
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true' style='color: black;') ×
            .modal-body.tratament-modal-body(style="font-size: 14px;")
              hr(style="margin-top: 0px;")
              .row 
                .col-md-10.offset-md-1
                  form(method='POST' action=animal._id+'/tratamente/add')
                    .row
                      .col-md-7
                        #form-group 
                          label Denumirea produsului:
                          input#tratament_name.form-control(name='name' type='text' required oninvalid="this.setCustomValidity('Acest camp este obligatoriu')" oninput="setCustomValidity('')") 
                      .col-md-5
                        #form-group 
                          label Seria:
                          input#tratament_series.form-control(name='series' type='text' minlength='1' maxlength='40') 
                    br
                    .row   
                      .col-md-4  
                        #form-group 
                          label Doza:
                          +input_dose  
                      .col-md-4
                        #form-group 
                          label Valabilitatea:
                          input.form-control.text-center#expiry(name='expiry_date' type='text' autocomplete="nope" value=moment().add(1, 'y').format("DD-MM-YYYY"))  
                      .col-md-4
                        #form-group 
                          label Data:
                          input.form-control.text-center#administration_date(name='administration_date' type='text' autocomplete="nope" value=moment().format("DD-MM-YYYY")) 
                    br
                    hr
                    .row
                      .col-md-4
                        #form-group 
                          label Asteptare:
                          input#tratament_waiting_time.form-control(name='waiting_time' type='text') 
                      .col-md-4
                        #form-group 
                          label Durata:
                          input#tratament_duration.form-control(name='duration' type='text') 
                      .col-md-4
                        #form-group 
                          label Rezultatul:
                          select#tratament_result.form-control(name='result', type='text' required) 
                            option(value='' disabled) Alegeti din acestea optiuni
                            option(value='Vindecat' selected) Vindecat
                            option(value='Mort') Mort
                            option(value='Sacrificat') Sacrificat
                    br
                    .row
                      .col-md-12
                        #form-group 
                          label Observatii:
                          textarea#tratament_observations.form-control(name='observations') 
                    br
                    .modal-footer
                      button.btn.btn-light(type='button', data-dismiss='modal') Închide
                      input.btn.btn-primary(value="Salveaza" type="submit" style="width: 120px;")
      br
      br
      br
      .col-md-12(style='overflow-x:auto; min-height: 300px; max-height: 300px; overflow-y:scroll;')
        table.table#results-tratamente(style='min-width: 500px; font-size: 14px;')
          thead
            tr
              th.align-middle Status
              th.align-middle Data
              th.align-middle Produsul
              th.align-middle Doza
              th.align-middle Asteptare
              th.align-middle Durata

          each tratament, i in tratamente
            tbody.containerItems
              tr.item.inbox-list(data-search=tratament.name onclick=`window.location.href='/animals/${tratament.animal_id}/tratamente/${tratament._id}'`)
                td
                  -if(tratament.result == "Vindecat")
                    .status-success(style="width:23px" data-toggle='tooltip', title='Vindecat')
                  -if(tratament.result == "Mort")
                    .status-danger(style="width:23px"  data-toggle='tooltip', title='Mort')
                  -if(tratament.result == "Sacrificat")
                    .status-purple(style="width:23px"  data-toggle='tooltip', title='Sacrificat')
                td.date.align-middle= moment(tratament.administration_date).format("DD-MMMM-YYYY")
                td.align-middle= tratament.name
                td.align-middle= tratament.dose
                td.align-middle= tratament.waiting_time
                td.align-middle= tratament.duration 

      br