extends ../layout

block content 
  h1 Edit 
    a(href='/proprietari/'+proprietar._id)= proprietar.name
  form(method='POST', action='/proprietari/edit/'+proprietar._id)
    #form-group 
      label Name:
      input.form-control(name='name', type='text', value=proprietar.name)  
    #form-group 
      label Surname:
      input.form-control(name='surname', type='text', value=proprietar.surname) 
    #form-group 
      label Address:
      input.form-control(name='address', type='text', value=proprietar.address) 
    #form-group 
      label Email:
      input.form-control(name='email', type='text', value=proprietar.email) 
    br
    input.btn.btn-primary(type='submit', value='Submit')