extends ../layout
include ../components/multi-modals.pug

block content 

  .card-lg-light
    .card-header-primary 
      h3.proprietar_name.text-center 
        i.fas.fa-user(style='margin-right: 15px;' )
        | #{proprietar.name}

    .padding-sm
      h4.align-middle Detalii
        button.btn.btn-dark.float-right(type='button', data-toggle='modal', data-target='#proprietarModal' style='font-size:13px; width: 130px; height: 40px;') Modifica 
          i.far.fa-edit(style='margin-left: 5px;')
      hr
      br
      .row
        .col-md-2
          p.font-weight-bold.p-2.m-0 Adresa: 
        .col-md-5
          input.form-control.p-2.m-0.pl-2.text-center(value=proprietar.address disabled)
      br
      .row
        .col-md-2
          p.font-weight-bold.p-2.m-0 Nr Tel: 
        .col-md-3
          input#phone_num_from_db.form-control.p-2.m-0.pl-2.text-center(value=proprietar.phone disabled)

      br
      br
      #dialog-confirm(title='Sunteți siguri?')
        p#dialog-message(style='display: none;')
          span.ui-icon.ui-icon-alert(style='float:left; margin:12px 12px 20px 0; z-index: 7;')
          | Ștergerea acestui proprietar este permanentă, și toate animalele și tratamentele asociate vor fii șterse în mod permanent. 


      h4 Animale
      hr

      .row
        .col-md-10
          button.btn.btn-warning.ml-3(type='button', data-toggle='modal', data-target='#animalModal' style='font-size:13px; width: 130px; height: 40px;') Adauga  
            i.fab.fa-earlybirds(style='margin-left: 5px;')

          #animalModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='animalModalLabel', aria-hidden= hidden, style='margin-top: 5%;')
            .modal-dialog(role='document')
              .modal-content(style='border-radius: 8px;')
                .modal-header.modal-header-warning(style="color: black;")
                  h5#animalModalLabel.modal-title(style="margin: auto; margin-left: 37%;") Animal Nou 
                    i.fab.fa-earlybirds(style='margin-left: 5px;')
                  button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true' style='color: black;') ×
                .progress-container(style="display: table; height: 50px; margin:auto; width: 90%;")
                  .progress-label
                    p.progress-message.m-0(style="font-size: 13px;") 2/3
                  .progress
                    .progress-bar(role='progressbar', style='width: 66%;', aria-valuenow='66', aria-valuemin='0', aria-valuemax='100')
                  button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true' style='color: white;') ×
                +proprietar_modal_filled('none', proprietar)
                +animal_modal('initial', 'none', proprietar._id)
                +tratament_modal('none', 'save-animal-tratament')
        

          #proprietarModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='proprietarModalLabel', aria-hidden= hidden, style='margin-top: 5%;')
            .modal-dialog(role='document')
              .modal-content(style='border-radius: 8px;')
                .modal-header.modal-header-primary
                  h5#proprietarModalLabel.modal-title(style="margin: auto; margin-left: 37%;")= proprietar.name
                  button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                .modal-body.proprietar-modal-body(style="font-size: 14px; display:"+ViewState+";")
                  hr(style="margin-top: 0px;")
                  .row 
                    .col-md-10.offset-md-1
                      form#proprietar-form(method='POST', action='/proprietari/edit/'+proprietar._id)
                        .row
                          .col-md-7
                            #form-group
                              label Nume:
                              input#proprietar_name_modal.form-control(name='name', type='text' value=proprietar.name) 
                          .col-md-5
                            #form-group 
                              label Nr Tel:
                              input#phone_num.form-control(name='phone', type='text' maxlength=14 value=proprietar.phone) 
                        br
                        #form-group 
                          label Adresa:
                          input#search_term.form-control(name='address' type='text' value=proprietar.address) 
                        br
                        .modal-footer
                          a.btn.btn-outline-danger.delete-proprietar(href='#' style= 'margin-right: auto;' data-id=proprietar._id)
                            i.fas.fa-trash(data-id=proprietar._id)
                          button.btn.btn-light(type='button', data-dismiss='modal') Închide
                          input.btn.btn-primary(value="Salveaza" type="submit" style="width: 120px;")
                      


      br
      br
      .col-md-12(style='overflow-x:auto; min-height: 200px; max-height: 200px; overflow-y:scroll;')
        table.table(style='min-width: 500px; font-size: 14px;')
          thead
            tr
              th Nr. Matricol / Nume
              th Specie
              th Cantitate
              th Simptomatologia
              th Diagnosticul
          each animal, i in animals
            tbody
              tr
                td.align-middle
                  a(href='/proprietari/'+proprietar._id+'/animals/' + animal._id)= animal.registration_nr
                td.align-middle= animal.species
                td.text-center.align-middle= animal.quantity
                td= animal.simptomatologie
                td= animal.diagnostic
                  
