extends ../layout

block content 
  h1 #{proprietar.name}
    if user
      a.btn.btn-outline-danger.delete-proprietar.float-right(href='#' data-id=proprietar._id) Delete
      a.btn.btn-dark.float-right(href='/proprietari/edit/'+proprietar._id) Edit

  br 
  h4 Detalii
  hr
  br
  p 
    strong Adresa: 
    span #{proprietar.address}
  p 
    strong Email: 
    span #{proprietar.email}

  br

  h4 Animale
  hr

  .row
    .col-md-10
      button.btn.btn-dark.active(type='button', data-toggle='modal', data-target='#animalModal' style='font-size:13px; width: 150px; height: 40px;') + Adauga Animal

      #animalModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='animalModalLabel', aria-hidden= hidden, style='margin-top: 5%;')
        .modal-dialog(role='document')
          .modal-content(style='border-radius: 8px;')
            .modal-header.modal-header-dark
              h5#animalModalLabel.modal-title Animal Nou
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true' style='color: white;') ×
            .modal-body
              .row 
                .col-md-10.offset-md-1
                  form#animal-form(method='POST', action='/proprietari/'+proprietar._id+'/animals/add')
                    #form-group 
                      label Proprietar
                      input.form-control(name='proprietar', type='text', value=proprietar.name, disabled)
                    br
                    .row 
                      .col-md-7
                        #form-group 
                          label Nr. Matricol
                          input.form-control(name='registration_nr', type='text') 
                      .col-md-5
                        #form-group 
                          label Specia
                          select.form-control(name='species', type='text') 
                            option(value='', selected='', disabled='', hidden='') Alegeti
                            option(value='Caine') Caine
                            option(value='Pisica') Pisica
                            option(value='Bovin') Bovin
                            option(value='Cal') Cal
                            option(value='Other') Other
                    br
                    .row
                      .col-md-4
                        #form-group 
                          label Animale Tratate
                          input.form-control(name='quantity', type='number') 
                    hr
                    br
                    #form-group 
                      label Simptomatologie
                      textarea.form-control(name='simptomatologie') 
                    br
                    #form-group 
                      label Diagnoticul
                      textarea.form-control(name='diagnostic') 
                    br
                    .modal-footer
                      button#save-animal.btn.btn-primary(type='submit') Salveaza
                      button.btn.btn-secondary(type='button', data-dismiss='modal') Inchide
  br
  table.table
    thead
      tr
        th Nr. Matricol
        th Specie
        th Qantitate
        th Simptomatologie
        th Diagnosticul
    each animal, i in animals
      tbody
        tr
          td.align-middle
            a(href='/proprietari/'+proprietar._id+'/animals/' + animal._id)= animal.registration_nr
          td.align-middle= animal.species
          td.text-center.align-middle= animal.quantity
          td= animal.simptomatologie
          td= animal.diagnostic
            
