extends ../layout

block content 
  h1 #{proprietar.name}
    if user
      a.btn.btn-outline-danger.delete-proprietar.float-right(href='#' data-id=proprietar._id) Delete
      a.btn.btn-dark.float-right(href='/proprietari/edit/'+proprietar._id) Edit

  br 
  h4 Detalii
  hr
  br
  p 
    strong Adresa: 
    span #{proprietar.address}
  p 
    strong Email: 
    span #{proprietar.email}

  br

  h4 Animale
    if user
      a.btn.btn-success.float-right(href='/proprietari/'+proprietar._id+'/animals/add/') Adaugati
  hr
  table.table
    thead
      tr
        th Nr. Matricol
        th Specie
        th Qantitate
        th Simptomatologie
        th Diagnosticul
    each animal, i in animals
      tbody
        tr
          td.align-middle
            a(href='/proprietari/'+proprietar._id+'/animals/' + animal._id)= animal.registration_nr
          td.align-middle= animal.species
          td.text-center.align-middle= animal.quantity
          td= animal.simptomatologie
          td= animal.diagnostic
            
