extends ../layout

block content 

  .card-lg-light
    .card-header-primary 
      h3.text-center 
        i.fas.fa-user(style='margin-right: 15px;' )
        | #{proprietar.name}

    .padding-sm
      h4.align-middle Detalii
        button.btn.btn-dark.float-right(type='button', data-toggle='modal', data-target='#proprietarModal' style='font-size:13px; width: 130px; height: 40px;') Modificati 
          i.far.fa-edit(style='margin-left: 5px;')
      hr
      br
      p 
        strong Adresa: 
        span #{proprietar.address}
      p 
        strong Email: 
        span #{proprietar.email}
      p 
        strong Nr Tel: 
        span #{proprietar.phone}

      br

      #dialog-confirm(title='Sunteti siguri?')
        p#dialog-message(style='display: none;')
          span.ui-icon.ui-icon-alert(style='float:left; margin:12px 12px 20px 0; z-index: 7;')
          | Stergerea acest proprietar este permanenta, si toate animalele si tratamentele asociate vor fii sterse in mod permanent.


      h4 Animale
      hr

      .row
        .col-md-10
          button.btn.btn-dark.active(type='button', data-toggle='modal', data-target='#animalModal' style='font-size:15px; width: 180px; height: 40px;') Adauga Animal 
            i.fab.fa-earlybirds(style='margin-left: 5px;')

          #animalModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='animalModalLabel', aria-hidden= hidden, style='margin-top: 5%;')
            .modal-dialog(role='document')
              .modal-content(style='border-radius: 8px;')
                .modal-header.modal-header-dark
                  h5#animalModalLabel.modal-title Animal Nou 
                    i.fab.fa-earlybirds(style='margin-left: 5px;')
                  button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true' style='color: white;') ×
                .modal-body
                  .row 
                    .col-md-10.offset-md-1
                      form#animal-form(method='POST', action='/proprietari/'+proprietar._id+'/animals/add')
                        #form-group 
                          label Proprietar
                          input.form-control(name='proprietar', type='text', value=proprietar.name, disabled)
                        br
                        .row 
                          .col-md-7
                            #form-group 
                              label Nr. Matricol
                              input.form-control(name='registration_nr', type='text') 
                          .col-md-5
                            #form-group 
                              label Specia
                              select.form-control(name='species', type='text') 
                                option(value='', selected='', disabled='', hidden='') Alegeti
                                option(value='Caine') Caine
                                option(value='Pisica') Pisica
                                option(value='Bovin') Bovin
                                option(value='Cal') Cal
                                option(value='Other') Other
                        br
                        .row
                          .col-md-4
                            #form-group 
                              label Animale Tratate
                              input.form-control(name='quantity', type='number') 
                        hr
                        br
                        #form-group 
                          label Simptomatologie
                          textarea.form-control(name='simptomatologie') 
                        br
                        #form-group 
                          label Diagnoticul
                          textarea.form-control(name='diagnostic') 
                        br
                        .modal-footer
                          button#save-animal.btn.btn-primary(type='submit') Salveaza
                          button.btn.btn-secondary(type='button', data-dismiss='modal') Inchide
        

          #proprietarModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='proprietarModalLabel', aria-hidden= hidden, style='margin-top: 5%;')
            .modal-dialog(role='document')
              .modal-content(style='border-radius: 8px;')
                .modal-header.modal-header-primary
                  h5#proprietarModalLabel.modal-title= proprietar.name
                  button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                .modal-body
                  .row 
                    .col-md-10.offset-md-1
                      form#proprietar-form(method='POST', action='/proprietari/edit/'+proprietar._id)
                        #form-group
                          label Nume:
                          input#name.form-control(name='name', type='text', value=proprietar.name) 
                        br
                        #form-group 
                          label Adresa:
                          input.form-control(name='address', type='text', value=proprietar.address)
                        br
                        #form-group 
                          label Nr Tel:
                          input.form-control(name='phone', type='text', value=proprietar.phone)
                        br
                        #form-group 
                          label Email:
                          input.form-control(name='email', type='text', value=proprietar.email)
                        br
                        .modal-footer
                          button#save-proprietar.btn.btn-primary.float-right(type='submit') Salveaza
                          button.btn.btn-secondary.float-right(type='button', data-dismiss='modal') Inchide

                      br
                      hr
                      a.btn.btn-outline-danger.delete-proprietar(href='#' style= 'margin-left: 25%;' data-id=proprietar._id) Stergeti Acest Proprietar


      br
      br
      .col-md-12(style='overflow-x:auto; min-height: 200px; max-height: 200px; overflow-y:scroll;')
        table.table(style='min-width: 500px; font-size: 14px;')
          thead
            tr
              th Nr. Matricol
              th Specie
              th Cantitate
              th Simptomatologie
              th Diagnosticul
          each animal, i in animals
            tbody
              tr
                td.align-middle
                  a(href='/proprietari/'+proprietar._id+'/animals/' + animal._id)= animal.registration_nr
                td.align-middle= animal.species
                td.text-center.align-middle= animal.quantity
                td= animal.simptomatologie
                td= animal.diagnostic
                  
