extends ../layout

include ../components/multi-modals.pug

block content 

  .card-lg-light
    .card-header-primary 
      h2.text-center 
        i.fas.fa-bolt(style='margin-right: 15px;' )
        | Tabloul de bord

    .padding-sm
      .row
        button.btn.btn-warning(type='button', data-toggle='modal', data-target='#multi-modal' style='font-size:14px; width: 200px; height: 46px; margin: auto;') Adaugă fişier 
          i.fas.fa-file-contract(style='margin-left: 7px;')

        #multi-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='multi-modal-lbl', aria-hidden= hidden, style='margin-top: 5%;')
          .modal-dialog(role='document')
            .modal-content(style='border-radius: 8px;')
              .modal-header.modal-header-warning(style="color: black;")
                h5#multi-modal-lbl.modal-title(style="margin: auto; margin-left: 37%;") Fişier nou 
                  i.fas.fa-file-contract(style='margin-left: 5px;')
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true' style='color: black;') ×
              .progress-container(style="display: table; height: 50px; margin:auto; width: 90%;")
                .progress-label
                  p.progress-message.m-0(style="font-size: 13px;") 1/3
                .progress
                  .progress-bar(role='progressbar', style='width: 33%;', aria-valuenow='33', aria-valuemin='0', aria-valuemax='100')
              +proprietar_modal('initial')
              +animal_modal('none')
              +tratament_modal('none', 'save-everything')
      
      br
      br
      .row#database
        .col-md-5
          h4 Proprietarii
          br
          .row
            .col-md-8
              .input-form.form-search
                input.form-control.search.search-proprietar(type='text', placeholder='Căutați proprietar ...')
          hr
          .col-md-10
            ul.list-group
              br
              each proprietar, i in proprietari
                h6.proprietar(proprietar-search=proprietar.name style='padding-right: 40px;')
                  li.list-group-item
                    a.proprietar_name(href="/proprietari/" + proprietar._id) #{proprietar.name}
          br
          br
                  
        .col-md-7
          h4 Animalele
          br
          .row
            .col-md-8
              .input-form.form-search
                input.form-control.search#search-animal(type='text', placeholder='Căutați animale ...')
            .col-md-4.responsive-margin-top
              #form-group 
                select.form-control.filter-animal.search(name='species', type='text') 
                  option(value='' selected) Toate
                  option(value='Canină') Canină
                  option(value='Felină') Felină
                  option(value='Bovină') Bovină
                  option(value='Cabalină') Cabalină
                  option(value='Suină') Suină
                  option(value='Ovină') Ovină
                  option(value='Pasare') Pasare
          hr
          .col-md-12.list-group
            table.table
              thead
                tr
                  th.align-middle Matricol
                  th.text-center.align-middle Specia
                  th.text-center.align-middle Cantitatea             
              each animal, i in animals
                tbody.containerItems.animal-item-list(animal-name=animal.registration_nr animal-species=animal.species style='font-size: 14px;')
                  tr.item.inbox-list
                    td.align-middle
                      a.proprietar_name(href='/proprietari/'+animal.proprietar_id+'/animals/' + animal._id)= animal.registration_nr
                    td.text-center.align-middle= animal.species
                    td.text-center.align-middle= animal.quantity
