extends ../layout

block content 
  .card-lg-light
    .card-header-primary 
      h3.text-center 
        i.fas.fa-syringe(style='margin-right: 15px;')
        | Tratament pentru 
        a(href='/proprietari/'+animal.proprietar_id+'/animals/'+animal._id style='color: white;')
          strong #{animal.registration_nr}
          
    .padding-sm
      form(method='POST' action='/animals/'+animal._id+'/tratamente/edit/'+tratament._id)
        .row 
          .col-md-4
            #form-group 
              label Denumirea produsului:
              input.form-control(name='name' type='text' value=tratament.name required oninvalid="this.setCustomValidity('Acest camp este obligatoriu')" oninput="setCustomValidity('')") 
          .col-md-2
            #form-group 
              label Seria:
              input.form-control(name='series' type='text' value=tratament.series) 
          .col-md-2.offset-md-2
            #form-group 
              label Valabilitatea:
              input.form-control#expiry(name='expiry_date' type='text' value=moment(tratament.expiry_date).format("DD-MM-YYYY"))  
          .col-md-2
            #form-group 
              label Data:
              input.form-control#administration_date(name='administration_date' type='text' value=moment(tratament.administration_date).format("DD-MM-YYYY")) 
        br
        .row
          .col-md-2  
            #form-group 
              label Doza:
              input.form-control(name='dose' type='number' value=tratament.dose) 
          .col-md-2
            #form-group 
              label Asteptare:
              input.form-control(name='waiting_time' type='text' value=tratament.waiting_time) 
          .col-md-2
            #form-group 
              label Durata:
              input.form-control(name='duration' type='text' value=tratament.duration) 
          .col-md-4.offset-md-2
            #form-group 
              label Rezultatul:
              select.form-control#animal-type(name='result', type='text') 
                option(value=tratament.result selected hidden)= tratament.result
                option(value='Vindecat') Vindecat
                option(value='Mort') Mort
                option(value='Sacrificat') Sacrificat
        br
        .row
          .col-md-6
            #form-group 
              label Observatii:
              textarea.form-control(name='observations')=tratament.observations
          .col-md-4.offset-md-2
            #form-group
              .form-check(style='padding: 0px; margin-top: 40px;')
                input#semnatura.form-check-input.bigCheckbox(type='checkbox' style='margin: 0px;' checked disabled)
                label.form-check-label(for='semnatura' style='margin: 0px 0px 0px 40px; font-size: 20px;') Semnatura
        br
        #form-group 
          label Nr matricol / nume:
          input.form-control(name='animal_id' type='text' value=animal.registration_nr disabled) 
        br
        input.btn.btn-primary(type='submit' value='Salvați')


      

